#btnImageCree
{
    text-decoration: none;
    color : black;

}

#btnImageAimer
{
    text-decoration: none;
    color : black;
    
}

#images_crees
{
    display: none;
}

#imageCreeSouligne
{
    visibility: hidden;
}
