.footer {
	border-top: 1px solid #ccc;
	padding-top: 10px;
    margin-top: 5px;
	text-align: center;
}
.contenu_site_img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#contenu_site{
    border-color: white !important;
    border-radius: 30px;
}

:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}
h4
{
    color:white;
}

p
{
    color:white;
}

h1
{
    color:white;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

.pin_container {

    margin: 0;
    padding: 0;
    width: 100vw;
    /*position: absolute;*/
    left: 50%;
    /*transform: translateX(-50%);*/

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}    

.card {
    padding: 0;
    margin: 7px;
    border-radius: var(--card_border_radius);
    
    
}
.bouton_supprimer
{
    position: absolute;
    top: 8px;
    right: 16px;
    visibility:hidden;
    
}

.carousel-inner img {
    margin: auto;
  }

.bouton_maj
{
    position: absolute;
    top: 8px;
    right: 50px;
    visibility:hidden;
    margin-right:20px;
}

.bouton_aimer
{
    position: absolute;
    top: 8px;
    right: 16px;
    visibility:hidden;

}

.card:hover 
{
    background-color: black;
}

.card-img-top:hover 
{
    
    opacity: 0.6;
}

.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}

.button_deconnexion
{
    color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    padding: 0;
}

#btnImageCree:hover
{
    font-weight: bold;
}

#btnImageAimer:hover
{
    font-weight: bold;
}

label
{
    color:white;
}

#basic-addon1
{
    background-color: rgb(35, 38, 39);
border-color: rgb(60, 65, 68);
color: rgb(209, 205, 199);
}